<food>
  <name>Belgian Waffles</name>
  <price>$5.95</price>
  <description>Waffles with syrup</description>
  <calories>650</calories>
</food>
<food>
  <name>Strawberry Belgian Waffles</name>
  <price>$7.95</price>
  <description>waffles covered with strawberries cream</description>
  <calories>900</calories>
</food>
<food><name>Berry-Berry Belgian Waffles</name>
  <price>$8.95</price>
  <description> waffles covered with cyanide</description><calories>900</calories></food>
